<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/userpage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <ul>
        <li><a><i class="fa fa-mobile-phone"
                    style="font-size:25px;color:white;font-style: italic;"> Mobi Hub</i></a></li>
        <li style="float:right"><a class="active" href="/"><i class="fa fa-sign-in"
                    style="font-style: italic; font-size:25px;color:white"> Logout</i></a></li>
    </ul>

    <div class="tab">
        <a href="/userhome" class="tablinks">Home</a>
        <a href="/userorders" class="tablinks">My Orders</a>
        <a href="/cart" class="tablinks">cart</a>
    </div>

    <div id="home" class="tabcontent">
        <h1>
            <%= username %>
        </h1>
        <div class="row">
            <% if (products.length > 0) { %>
                <% for (let product of products) { %>
                    <div class="column" style="margin-bottom: 2%;">
                        <div class="card">
                            <img src="<%= product.imagelink %>">
                            <p>
                                <%= product.productname %>
                            </p>
                            <p>
                                <%= product.price %>
                            </p>

                            <button class="btn card_btn" onclick="cartdata('<%= product.productname %>',' <%= product.price %>')">Buy Now</button>

                        </div>
                    </div>
                    <% } %>
                        <% } else { %>
                            <h1>No Products Found!</h1>
                            <% } %>
        </div>

    </div>


    <script src="./js/userpage.js">
    </script>
    <script src="./js/cart.js">
    </script>


</body>

</html>